.cart__wrapper{

    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    gap: .50rem;
    min-height: 89vh;

    && h2{

        font-size: 34px;

    }

    && hr {

        width: 60%;
        align-self: center;

    }

    && button {

        cursor: pointer;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;

    }

}

.cart__item {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;

}

.item__image img{

    max-width: 100px;
    max-height: 125px;

}

.item__data {

    display: flex;
    flex-flow: row;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    && h3 {

        font-size: 28px;

    }

}

.item__quantity {

    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 28px;
    text-align: center;
    gap: 1rem;

    && button {

        width: 35px;
        height: 35px;
        background-color: #f7f7f7;
        border: 0px solid #f7f7f7;

    }

}

.cart__total {

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 1rem;
    font-size: 24px;
    padding: 3rem 13em;

}

.cart__checkoutBtn {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;

}