/** Header/Footer Font **/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/** Body Font **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');;

/** Styles **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

body{

    min-height: 85vh;
    background-color: #f7f7f7;
    font-family: Montserrat;

}

/* .container {

    border: 1px solid red;

} */

.header__wrapper {

    display: flex;
	justify-content: space-between;
	padding: .5rem 2rem;
	align-items: center;
    font-family: Philosopher;
    background-color:#d3ae79;
    
}

.header__logo h1{

    font-size: 34px;

}

.header__logo a {

    display: flex;
    text-decoration: none;
    color: #000000;
    align-self: center;
    justify-self: center;

}

.header__nav{


    && ul {

        display: flex;
        align-items: right;
        list-style-type: none;
        padding: 1rem 1rem;
        gap: 1rem;

    }

    && li {
        
        font-size: 20px;

        && :hover{

            text-decoration: underline;

        }

    }

    && a {
        
        text-decoration: none;
        color: #000000;

    }

}

.footer__wrapper {

    font-family: Philosopher;
    display: flex;
	justify-content: space-around;
	padding: 0 2rem;
	align-items: center;
    

}