.register__wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    min-height: 89vh;

    && h2{

        font-size: 34px;

    }

}

.register__form{

    display: flex;
    flex-direction: column;
    gap: 1rem;

    && div {

        display: flex;
        gap: 1rem;
        justify-content: space-between;

    }

    && label {

        font-size: 24px;

    }

    && input {
        
        width: 300px;
        font-size: 16px;
        font-family: Montserrat;
        border: 2px solid #000000;
        border-radius: 5px;
        padding: 0rem 0.15rem;

    }
    
    && button {

        font-family: Montserrat;
        font-size: 22px;
        width: 200px;
        align-self: center;
        justify-self: center;
        width: 100%;

    }

}